.sav2-dcard-section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0 !important;
    margin-bottom: 1rem;
}

.sav2-border-light {
    border-color: #ced4da;
}

.sav2-lb-sm {
    font-size: .875rem;
}